body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


header {
  padding:10px 0px;
  transition: all 300ms ease-in;
}

header .header_logo {
  flex-grow: 1;
  text-align: center;
}

header #site_name {
  font-size: 40px;
  color: #000000;
}

/*=========
  SLIDER
=========*/

.slider_wrapper {
  height: 700px;
  overflow: hidden;
  background: center center no-repeat fixed;
}

.slider_image {
  background: center center no-repeat fixed;
  background-size: cover;
}
